@media screen and(max-width:770px) {
  .sectionHero {
    height: 50vh;
    width: 100vw;
  }

  .image {
    margin-top: 9rem;
    width: 200px;
    height: 60vh;
  }

  .wave {
    width: 10px;
    padding-right: 50rem;
    bottom: 0;
  }

  .waveLeft {
    width: 100px;
    right: 5rem;
    bottom: 15rem;
  }
}

@media (max-width: 460px) {
  .header {
    height: 120px;
    /* width: 150vw; */
  }
  .btn {
    display: none;
  }

  body {
    width: 150%;
  }

  .insure {
    font-size: 20px;
    font-weight: 800;
  }
  .navItem,
  .mainItem .item a {
    display: none;
  }
  img {
    height: 700px;
    width: 100%;
    margin-top: 0;
  }
  .sectionHero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .waveLeft {
    position: absolute;
    bottom: 80%;
    right: 50%;
  }

  .waveRight {
    width: 70px;
    position: absolute;
    top: 70%;
    left: 98%;
  }

  .imgWave {
    width: 215px;
    height: 350px;
    color: white;
  }

  .text-paragrahy {
    width: 100%;
  }
  .bg-text {
    text-align: center;
    /* margin-left: 96px; */
    margin-left: 10rem
  }
  .sm-text {
    text-align: center;
    margin-left: 10rem;
    line-height: 1.5;
    font-size: 24px;
    max-width: 400px;
  }

  .btnOne {
    margin-left: 10rem;

  }

  .line {
    display: none;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 412px;
    /* margin-top: 60px; */
    position: relative;
  }

  

  .btn-mobile-nav {
    display: block;
    font-size: 50px;
    margin-right: 20px;
  }

  .btn-mobile-nav > [name="icon-hamburger.png"] {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .weText {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin:  0 0 96px -120px;
  }

  .flexCon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .flexCon div > img {
    /* margin-left: 150px; */
  }

  .iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .iconBox > p {
    line-height: 1.5;
    font-size: 16px;
    color: #6c6c6c;
  }

  .frame {
    height: 680px;
    width: 100%;
    
    
  }
  .text-box {
    background: midnightblue url(/image/bg-pattern-intro-right-desktop.png);
    background-repeat: no-repeat;
    background-position: right;
    /* width: 70%; */
    height: 50%;
    margin-top: 90px;
  }
  .frame-box {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    padding: 50px;
  }

  .inner-text {
    font-size: 40px;
  }
  .innerFrame{
    text-align: center;
    margin-bottom: 18px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btnTwo{
    margin-left: 70px;
  }
  .btn-work{
    color: white;
    padding: 6px 12px;

  }
  
  .footerOne {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
