@media (max-width:768px) {
  body{
    width: 100%;
  }
  .sectionHero {
    height:520px ;
    width: 100%;
    position:relative;
  }
  
  .image{
    margin: -28px 2rem 0 0 ;
  }

  .img{
    width: 300px;
  }

  .waveRight {
  position: absolute;
  z-index: 99999;
    top:50;
    left:102%;
  }

  .waveLeft {
    width: 100px;;
    position: absolute;
    right: 5;
    bottom: 5;
  }
  .bg-text{
    margin: 16px 42px;
    font-size: 36px; 
  }
  .line{
    margin-left: 50px;
  }
  .sm-text{
    margin: 16px 42px;
    font-size: 8px;
    font-weight: 0;
    line-height: 2;
  }
  .btn-planTwo{
    background-color: transparent;
    margin: 16px 42px;
  }
  .btn-planTwo:hover {
    background-color: #fff;
    color:black;
    cursor:pointer;
  }

  .weText {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
  }

  .iconBox p {
    font-size: 10px;
    font-weight: 0;
  }

  .frame {
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .text-box{
    width: 95%;
    }
   
}

@media (max-width: 460px) {
  .header {
    height: 120px;
    /* width: 150vw; */
  }
  .btn {
    display: none;
  }

  body {
    width: 150%;
  }

  .insure {
    font-size: 20px;
    font-weight: 800;
  }
  .navItem,
  .mainItem .item a {
    display: none;
  }
  .img {
    height: 700px;
    width: 100%;
    margin-top: 0;
  }
  .sectionHero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .waveLeft {
    position: absolute;
    bottom: 80%;
    right: 50%;
  }

  .waveRight {
    width: 70px;
    position: absolute;
    /* rotate: 60deg; */
    top: 70%;
    left: 98%;
  }

  .imgWave {
    width: 215px;
    height: 350px;
    color: white;
  }

  .text-paragrahy {
    width: 100%;
  }
  .bg-text {
    text-align: center;
    /* margin-left: 96px; */
    margin-left: 10rem
  }
  .sm-text {
    text-align: center;
    margin-left: 10rem;
    line-height: 1.5;
    font-size: 24px;
    max-width: 400px;
  }

  .btnOne {
    margin-left: 10rem;

  }

  .line {
    display: none;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 412px;
    /* margin-top: 60px; */
    position: relative;
  }

  

  .btn-mobile-nav {
    display: block;
    font-size: 50px;
    margin-right: 20px;
  }

  .btn-mobile-nav > [name="icon-hamburger.png"] {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .weText {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin:  0 0 96px -120px;
  }

  .flexCon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .flexCon div > img {
    /* margin-left: 150px; */
  }

  .iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .iconBox > p {
    line-height: 1.5;
    font-size: 16px;
    color: #6c6c6c;
  }

  .frame {
    height: 680px;
    width: 100%;
    
    
  }
  .text-box {
    background: midnightblue url(/image/bg-pattern-intro-right-desktop.png);
    background-repeat: no-repeat;
    background-position: right;
    /* width: 70%; */
    height: 50%;
    margin-top: 90px;
  }
  .frame-box {
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    padding: 50px;
  }

  .inner-text {
    font-size: 40px;
  }
  .innerFrame{
    text-align: center;
    margin-bottom: 18px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btnTwo{
    margin-left: 70px;
  }
  .btn-work{
    color: white;
    padding: 6px 12px;

  }
  
  .footerOne {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
