/* @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap & https://fonts.google.com/specimen/DM+Serif+Display' ); */


* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;

}


a {
  text-decoration: none;
  color: #6d6d6d;
}

.header {
  position:sticky;
    z-index: 1;
  /* top: 10px; */
  box-shadow: 3.2px 3.2px 8px rgba(21, 19, 19, 0.5);
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  align-items: center;
height: 120px;
width: 100%;
  
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin-right: 20px;
  text-transform: uppercase;
    }

.btn { 
  border: 1px solid #000;
  color: black;
  padding: 8px 12px;
  background-color: aliceblue;
}

.btn:hover {
  border: none;
  border-radius: 20px;
  background-color:whitesmoke;
  color:whitesmoke;
}

.btn:link,
.btn:visited {
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: #000;
}


  .btn-mobile-nav {
    background: none;
    cursor: pointer;
    display: none;
  }
.nav-mobile-icon {
  display: none;
  height: 32px;
  width: 32px;
  background-color: black;
}
.nav-mobile > [name='close-outline']
{
  display:none;
}
.mainItem {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}


.insure {
 font-family: sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left:20px;
  /* padding-left: 20rem; */
}


.line {
  border: 1px solid #fff;
  width: 95px;
}

.sectionHero {
  width: 100%;
  height: 480px;
 background-color: midnightblue;
 display: flex;
 justify-content: space-evenly;
}


 .text {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position:relative
}

.bg-text {
  font-family: "Karla";
  font-size: 3rem;
  color: #fff;
}

.sm-text {
  color: #fff;
  font-size: 15px;
  
}

img {
  margin-top: 7rem;
  width: 400px;
  height: 480px;
}

.waveRight {
  position: absolute;
  top: -60%;
  left:210%
}

.waveLeft {
  width: 210px;
  position:absolute;
  right:120%;
  bottom: -18rem;
}

.btnOne  {
  padding: 9px 14px;
  background-color: transparent;
  border: 1px solid #fff;
}

.btnOne:hover {
background-color: blue;
color:#fefcfc;
}


.sect {
  font-size: 50px;
  font-weight: 400;
  display: flex;
  padding: 1rem 0 3rem 10rem;
  margin-top: 15rem;
  align-items:center;
  justify-content: flex-start;

}



.container {
  display: flex;
  flex-direction: column;

}

.flexCon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 48px;
  gap: 40px;
  margin-top: -5em;
  word-wrap: break-word;
}

.flexCon > div > h3 {
  font-size: 30px;
}

.flexCon > div > img {
  margin-bottom: 20px;
  width: 70px;
  height: 70px;
}
.frame {
height: 380px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.text-box{
background-color: midnightblue;
background: midnightblue  url(/image/bg-pattern-how-we-work-desktop.png);
background-repeat: no-repeat;
background-position: right;
width: 70%;
}
.frame-box{
 
     display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    gap: 70px;
    padding: 20px;
}
.innerFrame {
  font-size: 3rem; 
   color: #fff; 
  display: flex;
 gap: 200px;
  justify-content: flex-start; 

}

.btnTwo  {
  padding: 9px 14px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 50px;
}

.btnTwo:hover {
background-color: blue;
color:#fefcfc;
}




.footer-text h4{
  font-size: 30px;

} 


footer {

  background:  url(/image/bg-pattern-footer-desktop.png) #fefcfc;
  background-repeat: no-repeat;
  padding:0 10rem;
 
}
.section-footer-1{
  border-bottom: 1px solid lightgray;
}
.footerOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
 .footers-img{
 }
.footer-img {
  height: 24px;
  width:24px ;
  margin-left: 20px;
  
}

.footer-wrapper {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 70px;
  list-style-type: none;
  }

 .footer-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }

 .footer-header {
  color: #3d3d3d;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  font-family:  "Karla", sans-serif;
 }

.footer-wrapper li {
  color: #000;
  font-size: 20px;
  font-weight: 400px;
  font-family: "Karla", sans-serif;
}


@media screen and(max-width:412px) {


  
  .item , .mainItem, .navItem{
    display: none;
  }
  .header{
    display:none;
    opacity: 0;
  }
}